[Unit]
Description=Automatic CRAS
After=cras.service acpid.service
Requires=cras.service acpid.service

[Service]
Type=simple
Restart=always
RestartSec=3
User=cras
Group=cras
ExecStart=/usr/bin/acras

[Install]
WantedBy=multi-user.target
